/* extras.css */

figure.centered {
    margin-left: auto;
    margin-right: auto;
}

#siteheader-person > img {
    height: 30px;
    width: auto;
}

div.commentImage {
    overflow: hidden;
}

div.commentImage img {
    height: 3.5em;
    width: auto;
}

div.fieldTextFormat,
div#formfield-form-widgets-IVersionable-changeNote {
    display: none;
}

input[type="text"] {
    height: 100% !important;
}
