/* extras.css */

.ploneSkin table.mceListBox .mceText {
    width: 200px !important;
    min-width: 200px;
}


form.itemorder.draggable {
    min-height: 85px;
    cursor: ns-resize;
}

span.contentHistory {
    display: none;
}

figure.centered {
    margin-left: auto;
    margin-right: auto;
}

#siteheader-person > img {
    height: 30px;
    width: auto;
}

div.commentImage {
    overflow: hidden;
    display: none;
}

div.commentImage img {
    height: 3.5em;
    width: auto;
}

div.fieldTextFormat {
    display: none;
}

form#form input[type="text"].text-widget {
    height: 100%;
}

#pinnwand-main .row {
    padding-top: 2.5em;
}

.pinnwand_type_preview {
    font-size: 120%;
    color: #111;
}

i.* {
    font-style: normal;
}

.show-for-sr {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

fieldset#search-field legend {
    font-size: 130%;
}

fieldset#search-field input,
fieldset#search-field button {
    display: inline-block;
    height: 2.41667rem;

}

fieldset#search-field input[type="text"] {
    width: 100% !important;

}

fieldset#search-field input.searchButton,
fieldset#search-field button.searchButton {
    background-color: #007633;
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding: 0;
    width: 40px;
}

div.field label {
    font-weight: bold;
    font-size: 1em;
}

div.field span.required:after {
    content: none;
}

div.field label span.required:after {
    color: #007633;
    font-weight: bold;
    padding: 0;
    content: "*";
}

div.field.row {
    margin-bottom: 0.5em;
}

div.field small.error {
    margin-bottom: 0;
}

div.field input,
div.field textarea {
    background-color: #fafafa;
}

div.field a.formHelpToggle {
    width: 25px;
    overflow: hidden;
    margin-left: 10px;
}


div.field input[type="text"],
div.field input[type="password"],
div.field input[type="date"],
div.field input[type="datetime"],
div.field input[type="datetime-local"],
div.field input[type="month"],
div.field input[type="week"],
div.field input[type="email"],
div.field input[type="number"],
div.field input[type="search"],
div.field input[type="tel"],
div.field input[type="time"],
div.field input[type="url"],
div.field textarea,
div.field div.richTextWidget,
div.field div.named-image-widget {
    width: 100%;
}


div.field div.widget-field-wrapper {
    width: 100%;
}

div.field select.datetime-widget.datetime-field {
    width: auto;
}

#calroot {
    width: 205px;
}

.qq-upload-button {
    background-color: #007633;
}

.qq-upload-button input[type="file"] {
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.reply p {
    display: none;
}

.comment .commentActions {
    margin-right: 0;
    margin-bottom: 5px;
}

#content .comment .commentActions form,
#content .comment .commentActions form input {
  margin-bottom: 0;
}

.comment button {
    padding-top:0.57143rem;
    padding-right:1.14286rem;
    padding-bottom:0.64286rem;
    padding-left:1.14286rem;
    font-size:0.78571rem;
}

#portal-searchfacets {
    background-color: #FFF;
    border: 1px solid #E6E6E6;
    width: 100%;
}

#portal-searchfacets h4 {
    border-bottom: none;
}

#search-results dt {
    border-top: 1px solid #E6E6E6;
    padding-top: 10px;
}

#search-results dd {
    margin-bottom: 20px;
}

div.replyTreeLevel1,
div.replyTreeLevel2,
div.replyTreeLevel3,
div.replyTreeLevel4,
div.replyTreeLevel5 {
    padding-left: 10px !important;
}

div.replyTreeLevel1 {
    border-left: 10px solid #E6E6E6;
}

div.replyTreeLevel2 {
    border-left: 20px solid #E6E6E6;
}

div.replyTreeLevel3 {
    border-left: 30px solid #E6E6E6;
}

div.replyTreeLevel4 {
    border-left: 40px solid #E6E6E6;
}

div.replyTreeLevel5 {
    border-left: 50px solid #E6E6E6;
}
div.field .datetimewidget-time {
    display: none;
}

/*
ul.list-link-white li {
    display: block;
    background-image: none;
    padding: 0 !important;
}

ul.list-link-white li a {
    display: block;
    background: rgba(0, 0, 0, 0) url("../../img/bg-arrow-white.png") no-repeat scroll right center;
    padding: 10px 20px 10px 0;
}
*/

/* blog/pinnwand edit form */
#content ul.previews {
    margin-left: 0;
}
#content ul.previews li {
    list-style: none;
    padding-bottom: 15px;
}
ul.functions {
    margin-left: 0;
}
ul.functions li {
    display: inline;
}
.qq-uploader {
    outline: dotted 1px;
}
.content-items {
    outline: solid 1px;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 49.5%;
    height: 100%;
    float: left;
}
#images {
    margin-right: 1%;
}
.formControls {
    clear: both;
}

/* overlays */
.pb-ajax, .pb-image, .overlay iframe {
    background-color: #fff;
    border: 1px solid #999;
    white-space: normal;
    box-shadow: 0 0 3em 0.5em #666;
    -moz-box-shadow: 0 0 3em 0.5em #666;
    -webkit-box-shadow: 0 0 3em #666;
}
div.overlaybg div.close, div.overlay div.close {
    background-image: url("../pb_close.png");
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.hiddenStructure {
    display: block;
    background: transparent;
    background-image: none;
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}

/* edit bar (content menu) */
#edit-bar {
    background-color: inherit;
    border: none;
}
.icons-on .contenttype-collection {
    line-height: inherit;
    padding-left: 26px !important;
    background: no-repeat transparent 6px -1720px url("../contenttypes-sprite.png");
}

.overlay-ajax .pb-ajax {
    padding: 20px;
}

.overlay-ajax .pb-ajax #content ul.formTabs, .overlay-ajax .pb-ajax #content-core ul.formTabs {
    display: none;
}

label[for='form-widgets-comment-text'] {
    white-space: nowrap;
}

.userrole-authenticated #edit-bar {
    display: none;
}

figure .clearing-thumbs li,
figure [data-clearing] li {
    margin-right: 0;
}

#label-upload {
    margin-left: 10px;
}

.qq-uploader {
    padding-left: 10px;
    padding-right: 10px;
}

.helper-font-size-small {
    font-size: 75%;
}

.helper-font-size-large {
    font-size: 125%;
}

.helper-font-size-double {
    font-size: 200%;
}

li.LSRow {
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: 1px dotted #E6E6E6;
}

li.LSRow

li.LSRow div.documentLocation a,
li.LSRow div.documentLocation a:visited,
li.LSRow div.documentLocation a:link {
    display: inline;
}

.shortcut-icon {
    border: 1px solid #007633;
    border-radius: 5px;
    background-color: #007633;
    color: #FFF;
    padding: 1px 3px;
}


.dragging,
table tr.dragging,
.dragging.helper-border-top {
    border-width: 3px;
    border-color: green;
    border-style: solid;
    background-color: #E8FFEA;
}

/* TinyMCE Anpassungen */

/*
.ploneSkin .mceButton {
    width: 40px !important;
    height: 40px !important;
}
.ploneSkin .mceIcon {
    background:-position: 40px 40px !important;
    background-size: 2000px 120px !important;
}

.ploneSkin span.mceIcon,
.ploneSkin img.mceIcon {

    width: 40px !important;
    height: 40px !important;
}

/* Theme */
/*
.ploneSkin span.mce_bold {background-position:0 0;}
.ploneSkin span.mce_italic {background-position:-120px 0 !important;}
.ploneSkin span.mce_underline {background-position:-280px 0 !important;}
.ploneSkin span.mce_strikethrough {background-position:-120px 0}
.ploneSkin span.mce_undo {background-position:-160px 0}
.ploneSkin span.mce_redo {background-position:-100px 0}
.ploneSkin span.mce_cleanup {background-position:-40px 0}
.ploneSkin span.mce_bullist {background-position:-40px 0 !important;}
.ploneSkin span.mce_numlist {background-position:-160px 0 !important;}
.ploneSkin span.mce_justifyleft {background-position:-460px 0}
.ploneSkin span.mce_justifyright {background-position:-480px 0}
.ploneSkin span.mce_justifycenter {background-position:-420px 0}
.ploneSkin span.mce_justifyfull {background-position:-440px 0}
.ploneSkin span.mce_anchor {background-position:-200px 0}
.ploneSkin span.mce_indent {background-position:-400px 0}
.ploneSkin span.mce_outdent {background-position:-540px 0}
.ploneSkin span.mce_link {background-position:-1000px 0 !important;}
.ploneSkin span.mce_unlink {background-position:-1280px 0 !important;}
.ploneSkin span.mce_sub {background-position:-600px 0}
.ploneSkin span.mce_sup {background-position:-620px 0}
.ploneSkin span.mce_removeformat {background-position:-580px 0}
.ploneSkin span.mce_newdocument {background-position:-520px 0}
.ploneSkin span.mce_image {background-position:-380px 0}
.ploneSkin span.mce_help {background-position:-340px 0}
.ploneSkin span.mce_code {background-position:-260px 0}
.ploneSkin span.mce_hr {background-position:-360px 0}
.ploneSkin span.mce_visualaid {background-position:-660px 0}
.ploneSkin span.mce_charmap {background-position:-240px 0}
.ploneSkin span.mce_paste {background-position:-560px 0}
.ploneSkin span.mce_copy {background-position:-700px 0}
.ploneSkin span.mce_cut {background-position:-680px 0}
.ploneSkin span.mce_blockquote {background-position:-220px 0}
.ploneSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.ploneSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.ploneSkin span.mce_forecolorpicker {background-position:-720px 0}
.ploneSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
/*
.ploneSkin span.mce_advhr {background-position:-0px -20px}
.ploneSkin span.mce_ltr {background-position:-20px -20px}
.ploneSkin span.mce_rtl {background-position:-40px -20px}
.ploneSkin span.mce_emotions {background-position:-60px -20px}
.ploneSkin span.mce_fullpage {background-position:-80px -20px}
.ploneSkin span.mce_fullscreen {background-position:-100px -20px}
.ploneSkin span.mce_iespell {background-position:-120px -20px}
.ploneSkin span.mce_insertdate {background-position:-140px -20px}
.ploneSkin span.mce_inserttime {background-position:-160px -20px}
.ploneSkin span.mce_absolute {background-position:-180px -20px}
.ploneSkin span.mce_backward {background-position:-200px -20px}
.ploneSkin span.mce_forward {background-position:-220px -20px}
.ploneSkin span.mce_insert_layer {background-position:-240px -20px}
.ploneSkin span.mce_insertlayer {background-position:-260px -20px}
.ploneSkin span.mce_movebackward {background-position:-280px -20px}
.ploneSkin span.mce_moveforward {background-position:-300px -20px}
.ploneSkin span.mce_media {background-position:-320px -20px}
.ploneSkin span.mce_nonbreaking {background-position:-340px -20px}
.ploneSkin span.mce_pastetext {background-position:-360px -20px}
.ploneSkin span.mce_pasteword {background-position:-380px -20px}
.ploneSkin span.mce_selectall {background-position:-400px -20px}
.ploneSkin span.mce_preview {background-position:-420px -20px}
.ploneSkin span.mce_print {background-position:-440px -20px}
.ploneSkin span.mce_cancel {background-position:-460px -20px}
.ploneSkin span.mce_save {background-position:-480px -20px}
.ploneSkin span.mce_replace {background-position:-500px -20px}
.ploneSkin span.mce_search {background-position:-520px -20px}
.ploneSkin span.mce_styleprops {background-position:-560px -20px}
.ploneSkin span.mce_table {background-position:-580px -20px}
.ploneSkin span.mce_cell_props {background-position:-600px -20px}
.ploneSkin span.mce_delete_table {background-position:-620px -20px}
.ploneSkin span.mce_delete_col {background-position:-640px -20px}
.ploneSkin span.mce_delete_row {background-position:-660px -20px}
.ploneSkin span.mce_col_after {background-position:-680px -20px}
.ploneSkin span.mce_col_before {background-position:-700px -20px}
.ploneSkin span.mce_row_after {background-position:-720px -20px}
.ploneSkin span.mce_row_before {background-position:-740px -20px}
.ploneSkin span.mce_merge_cells {background-position:-760px -20px}
.ploneSkin span.mce_table_props {background-position:-980px -20px}
.ploneSkin span.mce_row_props {background-position:-780px -20px}
.ploneSkin span.mce_split_cells {background-position:-800px -20px}
.ploneSkin span.mce_template {background-position:-820px -20px}
.ploneSkin span.mce_visualchars {background-position:-840px -20px}
.ploneSkin span.mce_abbr {background-position:-860px -20px}
.ploneSkin span.mce_acronym {background-position:-880px -20px}
.ploneSkin span.mce_attribs {background-position:-900px -20px}
.ploneSkin span.mce_cite {background-position:-920px -20px}
.ploneSkin span.mce_del {background-position:-940px -20px}
.ploneSkin span.mce_ins {background-position:-960px -20px}
.ploneSkin span.mce_pagebreak {background-position:0 -40px}
.ploneSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}
eSkin span.mce_ins {background-position:-960px -20px}
.ploneSkin span.mce_pagebreak {background-position:0 -40px}
.ploneSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}
